*{
    margin: 0;
    padding: 0;
    text-decoration: underline;
outline: none;
}
body{
    width: 100%;
    background-color: aqua;
}
form{
    background-color:brown;
    width: 320px;
    height: 270px;
    position:absolute;

padding: 10px 5px 20px 5px;
border-radius: 5px;
box-shadow: 5px 5px 6px -7px;
margin: -10vh 750px;

}
input[type='text'], input[type='password']{
display: block;
background-color: white;
margin: auto;
border: 1.5px solid rgb(200, 200, 200);
width: 200px;
padding: 10px 40px;
border-radius: 5px;
text-align: center;
color: black;
font-family: sans-serif;
font-size: 15px;

}


button{
    border: none;
    background-color: blue;
    color: white;
    margin: auto;
    width: 283px;
display: block;
border-radius: 5px;
padding: 10px 0;
font-weight: bold;
cursor: pointer;

}
.f-pwd{
    display: block;
    width: 200px;
    margin: auto;
    color: blue;
    padding-left: 80px;
    font-weight: 400;
    font-family: sans-serif;
}
.line{
    border-top: 1px solid black;
    opacity: 0.3;
}
.btn2{
    width: 120px;
    font-size: 12px;
    background-color: yellowgreen;
    text-align: center;
}
.f-container{
    width: 350px;
    margin-left: 300px;
    margin-top: 10vh;
    font-family: sans-serif;
}
.f-container img{
    width: 350px;
}
p{
    font-size: 20px;
}